.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 30%;
  padding: 20px;
  overflow: hidden;
}

.header{
  background-color: #90EE90;
}
.example-card {
  width: calc(100% - 40px);
  margin: 10px auto;
}
.example-sidenav::-webkit-scrollbar {
  display: none;
}

.image-service{
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

mat-card{
  margin: 2px;
}

mat-card:hover{
  background-color: #90EE90;
  transition: 0.5s;
  cursor: pointer;
}
.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.state-label {
  height: auto;
  width: auto;
  padding:  8px;
  border-radius: 4px;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.title-principal{
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

